.hamburger-menu{
    display: grid;
    width: fit-content;
    margin: 2rem;
    gap: 3rem;
    place-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    @media screen  and (min-width: 500px) {
        left: 0;
        transform: translate(0);
    }
}
#nav-menu{
    position: relative;
    transition: 1s ;
    height: -50%;
    top: 0;
    overflow:hidden;
    text-align: center;
    border-bottom: 1px black solid;
    padding: 0 2rem;
    li{
        margin-bottom: 1rem;
        transition: .2s ease-in;
        &:hover{
            transform: scale(1.2);
        }
    }
}
.logo{
    cursor: pointer;
    display: grid;
    place-items: center;
    gap:10px ;
    &:hover > span{
        transform: scale(1.25);
        background-color: black;
    }
 span{
    display: block;
    position: relative;
    width: 50px;
    height: 5px;
    background-color: rgb(50, 50, 50);
    
 }

}
.logoUpToggle {
    transition: 1s;
    rotate: 225deg;
    bottom:-15px;
  }
  
  .logoDownToggle {
    transition: 1s;
    rotate: -225deg;
    top:-15px;
  }
  .logoMiddleToggle{
    opacity: 0;
    transition: 1s;
  }
  .logoUpClose {
    transition: 1s;

  }
  
  .logoDownClose {
    transition: 1s;

  }
  .logoMiddleClose{
    opacity: 1;
    transition: 1s;
  }