@font-face {
    font-family: "Roboto-serif";
    src: url("./fonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf") format(opentype) ;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format(opentype) ;

}
