h1,h2,h3,h4,h5,h6,.nav-item{
    font-family: var(--ff-accent);
    font-weight: 400;
}
h1{
    font-size:4.5rem;
    background: linear-gradient(0deg,var(--clr-primary) 50%, var(--clr-accent)50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    font-size: 3.5rem;
    color: var(--clr-accent);

}
p{
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    color: var(--clr-secondary);
    @media screen and (min-width:500px) {
        font-size: 1.2rem;
    }

}
small{
    font-size:1rem;
    color: var(--clr-accent);
    @media screen and (min-width:500px) {
        font-size: 1rem;
        font-weight: 200;
    }

}
.nav-item{
    font-size: 2rem;
    color: var(--clr-primary);
    @media screen and (min-width:500px) {
        font-size: 1.2rem;
    }

}