$fonts:(
	primary:(
		100:"Cormorant-Garamond-light",
		400:"Cormorant-Garamond",
		800:"Cormorant-Garamond-bold",
	),
	secondary:(
		100:"Source-Sans-Pro-light",
		400:"Source-Sans-Pro",
		800:"Source-Sans-Pro-bold",
	),
);
